@tailwind base;
@tailwind components;
@tailwind utilities;

body {

}

/* Layout */
/*--------------------------------------------------------------------------*/

/* Text  */

.main-text{
  @apply text-black font-bold
}
.primary-text{
  @apply main-text
 }
 .secondary-text{
  @apply main-text
 }
 .terciary-text{
   @apply main-text
 }
 .normal-text{
   @apply text-black text-sm 
 }
 .date-text{
  @apply normal-text font-bold
}
/*--------------------------------------------------------------------------*/


/* Layout */

#sideBar, header{
  @apply bg-primary
}
main{
  @apply bg-gray
}

/*--------------------------------------------------------------------------*/


/* SideBar */

#roundedImage{
  @apply rounded-full
}


/*--------------------------------------------------------------------------*/

#sectionTitle{
  @apply w-full secondary-text text-center
}

.flip {
  perspective: 100%;  
  @apply text-center

}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-purple {
  @apply bg-secondary;
}
.btn-purple:hover {
  @apply bg-[#850fc5];
}

.flip-content {
 /* transition: transform 0.4s;*/
  transform-style: preserve-3d;
  @apply transition transform
}
.flip:hover .flip-content {
  transform: rotateY(180deg);
  transition: transform 0.3s;
}

.flip-front, .flip-back {
  line-height: 150px;
  backface-visibility: hidden;  
  border: 6px solid #F98C18;
  box-shadow: 6px 6px #9611DE;
  @apply bg-secondary
}
.flip-back {
  transform: rotateY(180deg);
  border: 6px solid #9611DE;
  box-shadow: 6px 6px #F98C18;
}
.container{
     @apply flex w-full gap-9 flex-wrap justify-center my-10 text-center

 }
  /* Experience content*/
  #experienceCard{
    @apply flex flex-col bg-white w-60 rounded-xl
     }
     #experienceInfo{
      @apply flex flex-col
       }
     #experienceDate{
       @apply flex place-self-center gap-2
        }
        #title{
          @apply terciary-text
           }
         
           .card{
            @apply flex flex-col bg-white w-60 rounded-2xl 
             }
             .cardBack{
              @apply absolute top-0 left-0 w-full h-full
               }
             #languageCard{
              @apply flex flex-col bg-white w-60 rounded-2xl
               }
               #courseCard{
                @apply flex flex-col bg-white w-60 rounded-2xl
                 }
           
  
  /* iPhone SE design*/
  @media (max-width: 375px) {
   
    #sideBar {
        @apply  flex flex-col w-screen sticky top-0 justify-center z-20
      }
     #layout{
        @apply flex flex-col
      }
    #roundedImage{
        @apply rounded-full w-32  place-self-center mt-4
      }
      header{
        @apply fixed top-36  primary-text ml-20
      }
      #generalInformation{
        @apply flex w-screen
      }

      #professionInformation{
        @apply flex flex-wrap w-80  mt-4 ml-8
      }
      #profession{
        @apply justify-center text-center ml-20
      }
      #sectionsLinks{
        @apply flex w-full justify-center 
      }
      #socialLinks{
        @apply flex 
      }
      .primary-text{
        @apply text-[#1B1F4B] font-bold  text-sm text-center
       }
       .secondary-text{
        @apply text-[#1B1F4B] font-bold  text-lg
       }
       .terciary-text{
         @apply text-[#1B1F4B] font-bold text-sm
       }
       .normal-text{
         @apply text-[#1B1F4B] text-sm 
       }
       header {
        @apply bg-primary
      }
  }


      /* iPad air*/
@media (max-width: 820px) and (min-width: 376px) {

  .primary-text{
    @apply text-[#1B1F4B] font-bold text-2xl
   }
   .secondary-text{
    @apply text-[#1B1F4B] font-bold  text-4xl
   }
   .terciary-text{
     @apply text-[#1B1F4B] font-bold text-xl
   }
   .normal-text{
    @apply text-[#1B1F4B] text-xl
    }
   
    #mainContent{
      @apply  text-center
    }
    #sideBar {
        @apply  flex w-screen sticky top-0 flex-wrap justify-center pt-20 z-20
      }
     #layout{
        @apply flex flex-col
      }
      header{
        @apply fixed top-10 primary-text text-center ml-80
      }
      #roundedImage{
        @apply rounded-full w-48
      }
      #sectionsLinks{
        @apply flex w-full justify-center 
      }
      #professionInformation{
        @apply flex flex-col w-96 ml-4
      }
      #socialLinks{
        @apply flex
      }
      #generalInformation{
        @apply flex w-1/2 
      }
      
 
  }


  @media (min-width: 821px) {

/* Text  */


.primary-text{
  @apply text-4xl
 }
 .secondary-text{
  @apply main-text text-3xl
 }
 .terciary-text{
   @apply main-text text-xl
 }
 .normal-text{
   @apply text-black text-sm 
 }
 .normal-text-white{
  @apply text-white text-sm 
}

/*--------------------------------------------------------------------------*/



/* Layout */

 #layout{
  @apply flex
}


header{
  @apply fixed h-32 left-1/4 w-full z-20
}

#sideBar {
  @apply h-screen sticky top-0 w-1/4 flex flex-col
}

main{
  @apply flex flex-col
}
#mainContent{
  @apply w-3/4 left-1/4 text-center
}

/*--------------------------------------------------------------------------*/

/* Header  */
#header{
  @apply primary-text w-1/2 flex justify-center my-9 ml-32
}
@media (min-width: 821px) and (max-width: 1100px) {
  #header{
    @apply text-2xl
  }
}
/*--------------------------------------------------------------------------*/

/* Side bar*/
 
#roundedImage{
  @apply rounded-full border-opacity-20 border-4 border-secondary w-8/12 mt-4 self-center
}

#professionInformation{
  @apply flex flex-col self-center w-[82%] h-[20%] text-center overflow-y-auto mt-2
}

#sectionsLinks{
  @apply flex flex-col self-center bg-secondary rounded-3xl w-[40%] h-[35%] text-center overflow-y-auto mt-1
}
.section-btn{
  @apply  h-8 self-center normal-text-white font-bold bg-secondary hover:border-4 border-terciary my-1 text-ellipsis whitespace-nowrap rounded hover:bg-terciary transition duration-300 ease-in-out text-white
}

#generalInformation{
  @apply flex justify-center  h-[10%] text-center overflow-y-auto mt-2 
}
.information-item{
  @apply flex mx-1 my-2
}

#socialLinks{
  @apply flex justify-center sticky w-full mb-2
}
.social-link{
  @apply mx-1
}
/*--------------------------------------------------------------------------*/


/* Academic*/


.first-content{
@apply mt-52
}


div:target::before {
  
  content: "";
  @apply mt-32
}

      
  }